NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://connectharshit55_db_user:Harshit2003@cluster0.y5kxy4p.mongodb.net/?appName=Cluster0
JWT_SECRET=ZsvtDbKNi83Vg51EtLqdMs48nRgJa1qNV4g1ro8G8Sg
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:5173


